/* -------------------------------- */
/* ------------- FORM ------------- */
/* -------------------------------- */

.marg-box {margin-bottom: 5%;}

.marg-form {margin-bottom: 3%;}

.flex-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-left, .form-right {
    width: 45%;
    background-color: #5d82550f;
    border: solid;
    font-weight: 600;
}

legend {
    font-weight: 900;
    font-size: 1.3rem;
}

/* -------------------------------- */
/* ------------ FIELDS ------------ */
/* -------------------------------- */

input, select {
    margin-top: 2%;
    padding: 0.3em;
}

input:focus, select:focus {
   background-color:  #c5dfe9;
}

label {
    margin: 2% 2% 0 0;
    font-size: 1.1rem;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 60%;
    min-height: 5em;
    margin-top: 2%;
}

textarea:focus {
    background-color:  #c5dfe9;
}

#nb-personnes {
    width: 2.5em;
}

#mail-client {
    width: 12rem;
}

/* -------------------------------- */
/* -------- MEDIA QUERIES --------- */
/* -------------------------------- */


/* -------- 1200PX --------- */

@media  screen and (max-width: 1200px) {
    .container {
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* -------- 570PX --------- */

@media  screen and (max-width: 570px) {
    
    .title-page { 
        font-size: 2.5rem;
        padding: 0;
    }

    .flex-form {
        flex-direction: column;
        align-items: center;
    }

    .form-left, .form-right {
        width: 80%;
        margin-bottom: 2rem;
    }

}