/* -------------------------------- */
/* ----- PROPRIÉTÉS GÉNÉRALES ----- */
/* -------------------------------- */


body {
    font-family: 'Source Serif 4', serif;
    margin: 0 auto;
    color: #2a2b2a;
    font-size: 1.12rem;
    background-color: #8c9da4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
    color: rgb(67, 65, 65);
    margin-bottom: 0;
}

#nav-hamburger {display: none !important;}

#nav-long {
        display: inline-block !important;
        width: 100%;
    }

nav li {
    display: inline-block;
    margin: 1.25em 1.25em;
}

.actuel{
    text-decoration: none;
}
  
nav {
    text-align: right;
}

.btn-commande-nav {
    padding: 0.70rem;
    border-radius: 10px;
    background-color: #4e798c;
}

.btn-commande, #btn-form {
    padding: 0.70rem;
    border-radius: 10px;
    background-color: #4e798c;
    text-decoration: none;
    border: none;
    font-family: 'Source Serif 4';
    font-size: 1.12rem;
}

h1, h2, h3 {
    font-family: 'Marcellus', serif;
    font-weight: bold;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color:#343333;
}

.btn-commande:hover, #btn-form:hover, .btn-commande-nav:hover{
    color:#2e4b56;
}

footer{
    padding-top: 3rem;
}


footer p{
    display: inline-block;
    padding: 0 1rem 1rem 0;
}

footer img{
    padding-right: 0.25rem;
    width: 8%;
    display: inline-block;
}

.flex-footer-cours{
    display: flex;
    justify-content: space-between;
}

.flex-footer-cours p{
    text-decoration: underline;
}

.flex-footer-credits{
    display: flex;
    justify-content: space-between;
}

hr {
    width: 97%;               
    background-color:#040404;
}

.title-page {
    padding: 1rem 0 2rem 0;
    font-size: 3rem;
}

.name-footer{
    width: 25%
}

.logo-footer {
    display: inline-block;
    width: 25%;
}

.logo-socials {
    display: inline-block;
}



/* -------------------------------- */
/* ------- HOMEPAGE BANNER -------- */
/* -------------------------------- */


.nom-restaurant{
    font-size: 3.5rem;
    color:#2a2b2a;
}

.background-hero {
    background-color: #8c9da4;
    padding-bottom: 8rem;
    padding-top: 5rem;
    margin: 0 auto;
}

.flex-accueil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.description-accueil{
    width: 30%;
    padding-right: 1rem;
}


.container-image img {
    border-radius: 3%;
    width: 100%;
}

.flex-accueil a{
    padding: 0.5rem;
    border: solid;
    border-color: #2a2b2a;
    margin-right: 1rem;
    color:#2a2b2a;
}

.flex-accueil a:hover{
    color: #2e4b56;
}

.flex-accueil p{
    padding-bottom: 3rem;
    color:#2a2b2a;
}


/* -------------------------------- */
/* ------------ MENU -------------- */
/* -------------------------------- */

.container-menu{
    max-width: 800px;
    margin: 0 auto;
    padding: 6rem;
    background-color: #86898638;
    border-radius: 4%;
    padding-top: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.flex-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carte-menu{
    display: inline-block;
    width: 35%;
    color:rgb(50, 50, 50);
}

.btn-accueil{
    display: flex;
}

.btn-accueil a{
    display: inline-block;
}

.box-gauche{
    padding-right: 4rem;
}

.box-droite{
    padding-left: 4rem;
}

.container-menu h3 {
    font-size: 2.5rem;
}

.container-menu h4{
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.container-menu h5{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.flex-prix{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

/* -------------------------------- */
/* ----------- CLIENTS ------------ */
/* -------------------------------- */

.section-clients{
    padding-top: 2%;
    padding-bottom: 3%;
}

.section-clients h6{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.nom-section{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.carte-client{
    width: 26%;
    border:solid;
    border-width: 3px;
    padding: 1rem;
    font-size: 16px;
    border-radius: 10px;
    margin:1rem;
    background-color:#e3e0d996;
}

.flex-img-client {display: flex;}

.background-clients{
    background-color: #86898638;
}

.flex-clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nom-client{
    display: inline-block;
    padding-left: 1rem;
}

.flex-clients img{
    border-radius: 50%;
    width: 50px;
    float: left;
}

/* -------------------------------- */
/* -------- MEDIA QUERIES --------- */
/* -------------------------------- */


/* -------- 1200PX --------- */

@media  screen and (max-width: 1200px) {
    .container {max-width: 1100px;}

    .flex-clients {justify-content: center;}

    .description-accueil {
        width: 40%;
        margin-left: 5%;
    }

    .container-image {width: 70%;}

    .background-hero {padding-top: 2rem;}
}


/* -------- 960PX --------- */


@media  screen and (max-width: 960px) {
    .container {max-width: 890px;}

    header {padding-left: 2%;}

    header img {width: 80%;}

    #nav-long {
        font-size: 1rem;
        padding-left: 0;
    }

    .btn-accueil{
        flex-direction: column;
        align-items: center;
    }
    
    .btn-accueil a{
        display: inline-block;
        margin-bottom: 2rem;
    }

    .description-accueil {width: 28%;}

    .flex-accueil {justify-content: space-around;}

    .container-image img {margin-left: 8%;}

    footer {font-size: 0.9rem;}

    .logo-footer {width: 30%;}

    .container-menu {max-width: 700px;}

    .container-menu h3 {font-size:2rem;}

    .container-menu h4 {font-size:1.7rem;}

    .container-menu h5 {font-size: 1.3rem;}

    .carte-client {width: 25%;}
    
}


/* -------- 570PX --------- */

@media  screen and (max-width: 570px) {

    .container {max-width: 520px;}

    #nav-long {display: none !important;}

    #nav-hamburger {
        display: block !important;
        width: 100%;
    }

    body {font-size: 1rem;}

    .flex-accueil {
        flex-direction: column;
        width: 80%;
    }

   .container-image {
    width:90%;
   }

   .container-image img{
        margin-left:0;
        width: 100%;
    }

    .description-accueil{
        width: 80%;
        text-align: center;
    }

    .background-hero {padding: 2rem 0 3rem 0;}

 /* Menu */

    .container-menu {
        padding-top: 1.2rem;
        margin: 3rem 2rem 3rem 2rem;
        border-radius: 1%;
    }

    .container-menu h3 {margin-bottom: 0;}

    .flex-menu {
        flex-direction: column;
        align-content: center;
    }

    .box-gauche, .box-droite {
        padding: 0;
        width: 70%;
    }

    .flex-menu h4 {padding-bottom: 2rem;}

/* Clients */

    .carte-client {width: 35%}

    .flex-img-client {
        align-items: center;
        justify-content: space-around;
    }

    .nom-client {padding-left: 0.3rem;}

    .section-clients h6, .nom-section{
        margin: 0;
        padding: 0.5rem 0 1rem 0;
    }

    .section-clients h6 {font-size: 1.8rem;}

/* Footer */

    .name-footer {width: 50%;}

    .logo-footer {width: 50%;}

}